# Ignore everything but relevant files / directories

/*
!.gitignore
!README.md
!screenshot.png
!starship.toml
!.zshrc


!betterlockscreen/

!cava/
cava/*
!cava/config

!dunst/
!i3/
!kitty/
!neofetch/
!picom/
!polybar
!polybar/polybar-vpn-controller

!rofi/
!mpd/
mpd/sticker.sql
!ncmpcpp/
!ncmpcpp/config
ncmpcpp/error.log
ncmpcpp/patterns.list
!yt-dlp
!mpDris2/